body { 
  background: url(../images/leaves.png)
}

h1, h2 {
  font: bold;
}
.content {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  clear: both;
  width: 960px;
  margin: 0 auto;
}

h2 {
  background-color: #ffffff;
  padding: 5px;
  border-bottom: 2px solid #cccccc;
  color: #4aaaa5;
  clear: both;
}

.about {
  float: right;
  margin: 10px;
}

.portfolio {
  float: right;
  margin: 10px;
  border-right: 2px solid grey;
  padding-right: 10px;
}

.contact {
  float: right;
  margin: 10px;
  border-right: 2px solid grey;
  padding-right: 10px;
}

h1 {
  background-color: #4aaaa5;
  float: left;
  padding: 14px;
  color: white;
  margin-left: 310px;
}

ul {
  float: right;
  list-style: none;
  font-size: 16px;
  margin-right: 310px;
}

header {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 16px;
  height: 100px;
  border-bottom: 5px solid #cccccc;
}

footer {
  background-color: #666666;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 12px;
  vertical-align: baseline;
  padding: 20px;
  margin-top: 20px;
}

#headshot {
  float: left;
  padding: 0 10px 0px 10px;
  width: 15%;
  height: auto;
}

form label {
  margin: 10px;
  display: block;
}
form input{
  display: block;
  width: 95%;
  margin: 10px;
  align-self: center;
}

#message {
  height: 200px;
}

#images {
  padding: 30px;
}

#img1, #img3, #img5 {
  margin-right: 30px;
}

#img1, #img2, #img3, #img4, #img5, #img6 {
  margin-bottom: 30px;
}

p {
  position: absolute;
  background-color: #4aaaa5;
  color: white;
  font-size: 24px;
  padding: 16px;
  width: 15%;
  margin-left: 15px;
  margin-top: 80px;
}